## macOS
.DS_Store
.AppleDouble
.LSOverride

## Xcode user-specific data
xcuserdata/
*.xcuserstate
*.xcuserdatad/
DerivedData/

## Swift Package Manager
.build/
Package.resolved
.swiftpm/

## Build products
build/
*.app
*.dSYM
*.dSYM.zip

## Tooling
.claude/
